<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083979641425-6k5jqspinlkeahcodslqsjg3e3fd91r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083979641425-6k5jqspinlkeahcodslqsjg3e3fd91r3</string>
	<key>API_KEY</key>
	<string>AIzaSyCjk94Ws-Wd0aEXh2LWaifA2A5yxla1Sws</string>
	<key>GCM_SENDER_ID</key>
	<string>1083979641425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betDrasha.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bet-drasha</string>
	<key>STORAGE_BUCKET</key>
	<string>bet-drasha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083979641425:ios:1005f6eff0cd65970cfe70</string>
</dict>
</plist>